$bg-green: #27AE60;
$bg-green-1: #35B86C;
$bg-green-2: #E8F7EE;
$bg-grey: #E5E5E5;
$text-col-1: #000000;
$text-col-2: #FFFFFF;
$text-col-3: #2B2B2B;
$text-col-4: #6C997F;
$text-col-5: #B2DAC2;
$text-col-5:#BFBFBF;
$border-col-1: rgba(25, 130, 189, 0.11);


//$bg-black: #000000;



