$bg-purpule1: #7965AF;
$bg-purpule2: #8F7EBC;
$bg-purpule3: #A396C4;
$bg-purpule4: #7764A8;
$bg-yellow1:#F2C03F;
$bg-yellow2: #f5f290;
$bg-yellow3: #F5D06f;
$col-white: #ffffff;
$col-grey1: #DCD7EA;
$col-grey2: #AFA3CF;
$col-grey3: #F4F4F4;
$col-grey4: #EBEBEB;
$col-black:#303030;
$col-black2:#1C1515;
