

.page {
  background-color: $bg-grey;

}




.page-header {
  min-width: 320px;
  max-width: 767px;
  margin: 0 auto;
  background-color: $bg-grey;
}

.header-wrap {
  padding: 0px 14px 0px 14px;
  display: flex;
  justify-content: space-between;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background: url("../../img/png/img-desk-bg-1.png");
    width: 1924px;
    height: 768px;
    right: 0;
    top: -44px;
    z-index: -2;
  }
}

.logotype {
  margin: 37px 0 0 0;
  font-family: "Lato", "Arial", "sans-serif";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22.4px;
  color: $text-col-1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__mob-burger {
  margin: 33px 0 0 0;
  padding: 0;
  background: none;
  border: none;

  :hover {
    fill: $text-col-4;
  }
}

.header-nav-list {
  display: none;
}

.nav-list-item {
  margin: 0;
}

.nav-list-links {
  margin: 0;
}

@media (min-width: 768px) {
  .page-bg {
    background-image: url(./../../img/png/Group-bg.png);
    background-repeat: no-repeat;
    // background-position: -652px -51px;
    background-position: center top;
    background-color: $bg-grey;
  }

  .page {
    background-color: transparent;
  }

  .page-header {
    min-width: 768px;
    max-width: 1924px;
    margin: 0 auto;
    background-color: transparent;
  }

  .header-wrap {
    padding: 43px 111px 0px 111px;
    margin: 0;
    display: flex;
    justify-content: space-between;

    // &::before {
    //   position: absolute;
    //   content: "";
    //   background: url("../../img/png/img-bg-tab.png") no-repeat center center;
    //   width: 1924px;
    //   height: 731px;
    //   right: -578px;
    //   top: 0px;
    //   z-index: 0;
    // }
  }

  .logotype {
    width: 123px;
    margin: 0;
    font-family: "Lato", "Arial", "sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22.4px;
    color: $text-col-1;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .header__mob-burger {
    display: none;
  }

  .header-nav-list {
    max-width: 365px;
    min-width: 329px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    list-style: none;
  }

  .nav-list-item {
    min-width: 105px;
  }

  .nav-list-links {
    margin: 0;
    font-family: "Lato", "Arial", "sans-serif";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19.6px;
    color: $text-col-1;
  }

  .nav-list-links--green {
    min-width: 207px;
    color: $bg-green;
  }

  .nav-list-item--last {
    margin: 25px 0 0 0px;
  }
}

@media (min-width: 1924px) {
  .page-bg {
    background-image: url(./../../img/png/Group-bg-desk.png);
    background-repeat: no-repeat;
    // background-position: -652px -51px;
    background-position: center top;
    background-size: contain;
    background-color: $bg-grey;
  }

  .page-header {
    min-width: 1924px;
    max-width: 3480px;
    margin: 0 auto;
  }

  .header-wrap {
    padding: 43px 604px 0px 390px;
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 0;


    &::before {
      display: none;
    }
  }

  .logotype {
    width: 140px;
    margin: 0;
    font-family: "Lato", "Arial", "sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25.2px;
    color: $text-col-1;
    text-shadow: none;
    flex-shrink: 1;
  }

  .header__mob-burger {
    display: none;
  }

  .nav-list-item--disabled {
    display: none;
  }

  .header-nav-list {
    min-width: 587px;
    max-width: 3480px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 0 0 204px;
    list-style: none;
  }

  .nav-list-item {
    margin: 0;
    min-width: 20%;
    text-align: center;
  }

  .nav-list-item:nth-child(1) {
    min-width: 39%;
  }

  .nav-list-links {
    margin: 0;
    font-family: "Lato", "Arial", "sans-serif";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19.6px;
    color: $text-col-1;
  }

  .nav-list-links--green {

    color: $bg-green;
  }

  .nav-list-item--last {
    margin: 0;
  }
}
